@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.dark body {
  background: radial-gradient(circle at bottom center, #3c496a 0, #020817 50%);
}

.light body {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.dark .header {
  background: rgba(33, 33, 34, 0.25) !important;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Dark shadow */
}

.light .header {
  background: rgba(255, 255, 255, 0.8) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.table-body tr {
  transition: all 0.25s ease-in-out;
  user-select: none;
}

.dark .table-body tr:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.table-body tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

*:focus {
  outline: none;
}

.light .white-logo {
  display: none;
}

.code-snippet {
  font-family: "Fira Code", "Consolas", "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.light .code-snippet {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
}

.dark .code-snippet {
  background-color: #1e1e1e;
  color: #d4d4d4;
  border: 1px solid #333;
}

.toc {
  font-family: Arial, sans-serif;
}

.toc h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.toc-list {
  list-style-type: decimal;
  padding-left: 30px;
}

.toc-list li {
  margin-bottom: 0.5rem;
}

.toc-list a {
  text-decoration: none;
  color: #0070f3;
}

.toc-list a:hover {
  text-decoration: underline;
}
